::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0); 
    
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 166px 168px 171px rgba(166,168,171,1); 
}

#game_container
{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -640px; /*half width*/
	margin-top: -400px; /*half height*/
}

#hexagonMap
{
	z-index:5;
}

#eventLog_container
{
	position : absolute;
	display: none;
	left:200px;
	top:8px;
	width:700px;
	height:35px;
	background-color: #e6e7e8;
	z-index: 3;
}

#scoreInfo_container
{
	position : absolute;
	display: none;
	left:0px;
	top:0px;
	width:700px;
	height:35px;
}

.eventLog
{
	text-align: center;
	margin:10px;
}

#tutorial_container
{
	position:relative;
	left:-7px;
	top:-802px;
	width:900px;
	height:500px;
	z-index: 5;
}

	#tutorial_img
	{
		position:relative;
		left:8px;
		top:-5px;
		width:1284px;
		height:805px;
	}

	#tutorial_skip
	{
		position:relative;
		left:1000px;
		top:-100px;
		width:200px;
		height:50px;

	}
	
	#env_icon
	{
		position:relative;
		left:1196px;
		top:-687px;
		width:75px;
		height:75px;
		margin: 0px;
		
	}

	#city_icon
	{
		position:relative;
		left:1196px;
		top:-640px;
		width:75px;
		height:75px;
		margin: 0px;
		
	}

	#title_icon
	{
		position:relative;
		left:-120px;
		top:200px;
		
	}

	#wr_icon
	{
		position:relative;
		left:1196px;
		top:-670px;
		width:75px;
		height:75px;
		margin: 0px;
	}

	#ind_icon
	{
		position:relative;
		left:1196px;
		top:-655px;
		width:75px;
		height:75px;
		margin: 0px;
	}

	#question_icon
	{
		position:relative;
		display: none;
		left:31px;
		top:-444px;
		width:60px;
		height:60px;
		margin: 0px;
	}

	#video_container
	{
		position: relative;
		left:235px;
		top:100px;	
	}

	#skipVideo
	{
		position: relative;
		left:-250px;
		top:20px;	
	}

	#close_tutorial
	{
		position: relative;
		left:850px;
		top:-420px;
	}

#game_menu
{
	position: absolute;
	left : -25px;
	top :-25px;
	width:100px;
	height:100px;
	z-index: 10;
}

#scoreBG
{
	position : absolute;
	left:1000px;
	top:8px;
	width:290px;
	height: 250px;
}

#score
{
	position : absolute;
	left: 1140px;
	top:25px;
	font-size: 60px;
	color : #ff4e00;
}

#first_container
{
	position: relative;
	left : 1140px;
	top : 40px;
	width:100px;
	margin: 0px;
}

	#first
	{
		position: relative;
		left : -50px;
		top : 25px;
	}

	#first_score
	{
		position: relative;
		left : 0px;
		top : -9px;
	}

#next_container
{
	position: relative;
	left : 1140px;
	top : -5px;
	width:100px;
	margin: 0px;
}

	#next
	{
		position: relative;
		left : -50px;
		top : 25px;
	}

	#next_score
	{
		position: relative;
		left : 0px;
		top : -9px;
	}

#current_container
{
	position: relative;
	left : 1140px;
	top : -40px;
	width:100px;
	margin: 0px;
}

	#current
	{
		position: relative;
		left : -70px;
		top : 25px;
	}

	#current_score
	{
		position: relative;
		left : 10px;
		top : -78px;
		font-size: 72px;
	}
#pre_container
{
	position: relative;
	left : 1140px;
	top : -220px;
	width:100px;
	margin: 0px;
}
	#pre
	{
		position: relative;
		left : -50px;
		top : 25px;
	}

	#pre_score
	{
		position: relative;
		left : 0px;
		top : -9px;
	}

#submit
{
	position: absolute;
	left:1090px;
	top:40px;
	width:150px;
	height: 30px;
}

#logInfo_container
{
	height:50px;
	-webkit-transition: height 1s; 
	transition: height 1s;
}

#log_bg
{
	position: relative;
	top:-806px;
	left:2px;
	width:1013px;
	height:50px;
	-webkit-transition: height 1s; 
	transition: height 1s;
}
	#log
	{
		position: relative;
		left:170px;
		top:-870px;
		width: 700px;
		font-size: 18px;
		text-align: center;
		color : #ffffff;
		font-family: Arial;
	}

#close
{
	position: absolute;
	display: none;
	left:1075px;
	top:50px;
	width: 13px;
	height: 13px;
}

#hexlog_container
{
	position: absolute;
	display: none;
	left:400px;
	top:50px;

}

#hexlog_bg
{
	position: relative;
	left : 0px;
	top : 0px;
	width:400px;
	height:300px;
}

#hexlog
{
	position: relative;
	left:40px;
	top:-190px;
	width:310px;
	height: 100px;
	font-size: 16px;
	overflow: auto;
	margin-right: 0;
}

#hexlog_remove
{
	position: relative;
	left:130px;
	top:-165px;
	width:150px;
	height: 30px;
	margin-right: 0;
}

#hexlog_close
{
	position: relative;
	left:210px;
	top:-300px;
	width:25px;
	height: 25px;
	margin-right: 0;
}

#rebuild_log_container
{
	position: absolute;
	display: none;
	left:200px;
	top:50px;
}

#rebuild_log_bg
{
	width:300px;
	height:200px;
}

#rebuild_log
{
	position: relative;
	left:40px;
	top:-190px;
	width:210px;
	height: 100px;
	font-size: 16px;
	margin-right: 0;
}

#rebuild_yes
{
	position: relative;
	left:45px;
	top:-215px;
	width:100px;
	height: 35px;
	z-index: 999;
}

#rebuild_no
{
	position: relative;
	left:55px;
	top:-215px;
	width:100px;
	height: 35px;
	z-index: 999;
}

#noask_container
{
	position:relative;
	left:90px;
	top:-240px;
}

.rebuild_noask_img
{
	position: relative;
	left:-30px;
	top:30px;
	width:20px;
	height: 20px;
}

.logtext
{
	margin:6px 0;
}

.log_p_hover
{
	background-color: #d8d8d8;
}

.transparent
{
	opacity: 0.4;
}

.disappear
{
	display: none;
}

.orange
{
	color : #ff4e00;;
}

